<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<div class="container">

    <br>
    <head>
        <title>Basic Information</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
        <link href="/css/profile/list.css" rel="stylesheet"></link>
        <meta charset="utf-8"/>
    </head>
    <body>
    <h4>Basic</h4>
    <form action="#" th:action="@{/input}" method="POST" name="hogeForm" th:object="${profile}">
        <div th:each="question : ${questionList}">
            <div class="form-group">
                <span className="col-sm-3 col-xl-2 col-form-label input-label" th:text="${question.question}"></span><span className="mand">*</span>
                <div th:if="${question.fieldType == 3}"  className="col-sm-4 col-xl-4 input-content" class="dropdown">
                    <select class="form-control" id="formControlSelect" th:field="*{answer}">
                        <option value="" selected >Please select ...</option>
                        <option th:each="option : ${question.options}"
                           th:value="${option.answer}"
                           th:id="${option.value}"
                           th:text="${option.answer}" >
                        </option>
                    </select>
                    <p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}">エラーメッセージ</p>
                </div>
                <div th:if="${question.fieldType == 1}" class="form-check "  th:each="option : ${question.options}">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        th:field="*{answer}"
                        th:value="${option.value}"
                    />
                    <label class="form-check-label" th:text="${option.answer}"></label>
                    <p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}">エラーメッセージ</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button
                    type="submit"
                    class="btn btn-primary center"
                    th:text="Submit"
            ></button>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(function(){
        $('.dropdown-menu .dropdown-item').click(function(){
          var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
          visibleItem.text($(this).attr('value'));
        });
      });
    </script>

    </body>
</div>
</html>
