<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<div class="container">

    <br>
    <head>
        <title>Basic Information</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
        <link href="/css/profile/list.css" rel="stylesheet"></link>
        <meta charset="utf-8"/>
    </head>
    <body>
    <h5>Basic</h5>
    <form action="#" th:action="@{/profile/list}" th:object="${search}">
        <div class="form-group">
          <span className="col-sm-3 col-xl-2 col-form-label input-label">
            Marital Status
          <span className="mand">*</span></span>
            <div className="col-sm-4 col-xl-4 input-content" class="dropdown">
                <button class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Married
                    <i class="fas fa-chevron-down text-right"></i>
                </button>
                <div class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" value="Single">Single</a>
                    <a class="dropdown-item" value="Married">Married</a>
                    <a class="dropdown-item" value="Divorced / Widowed / Widower / Separated">Divorced / Widowed / Widower / Separated</a>
                </div>
            </div>
        </div>
        <div th:each="question : ${questionList}">
            <div class="form-group">
                <span className="col-sm-3 col-xl-2 col-form-label input-label" th:text="${question.question}">
                    <span className="mand">*</span>
                </span>
                <div className="col-sm-4 col-xl-4 input-content" class="dropdown">
                    <button class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Please select.
                        <i class="fas fa-chevron-down text-right"></i>
                    </button>
                    <div class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenuButton">
                        <div th:each="option : ${question.options}">
                            <a class="dropdown-item" th:value="${option.value}" th:text="${option.answer}" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span className="col-sm-3 col-xl-2 col-form-label input-label">
                Survey Languages
            <span className="mand">*</span></span>
            <div
                    class="form-check "
                    th:each="item : ${checkItems}"
            >
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:field="*{office}"
                        th:value="${item}"
                />
                <label class="form-check-label" th:text="${item}">1</label>
            </div>
        </div>
        <div class="text-center">
            <button
                    type="submit"
                    class="btn btn-primary center"
                    th:text="Submit"
            ></button>
        </div>
    </form>
    <!--      <table class="table table-hover table-striped">-->
    <!--        <thead>-->
    <!--          <tr>-->
    <!--            <th>ID</th>-->
    <!--            <th th:text="#{name}">Name</th>-->
    <!--            <th th:text="#{nationality}">Nationality</th>-->
    <!--            <th th:text="#{office}">Office</th>-->
    <!--            <th th:text="#{hobbies}">Hobby</th>-->
    <!--            <th th:text="#{link}">Link</th>-->
    <!--          </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--          <tr th:each="user : ${userlist}" th:object="${user}">-->
    <!--            <td class="center" th:text="*{id}"></td>-->
    <!--            <td class="center" th:text="*{name}"></td>-->
    <!--            <td class="center" th:text="*{nationality}"></td>-->
    <!--            <td class="center" th:text="*{office}"></td>-->
    <!--            <td class="center" th:text="*{hobby}"></td>-->
    <!--            <td class="center">-->
    <!--              <a th:href="@{/profile/{id}(id=*{id})}">Detail</a>-->
    <!--            </td>-->
    <!--          </tr>-->
    <!--        </tbody>-->
    <!--      </table>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(function(){
        $('.dropdown-menu .dropdown-item').click(function(){
          var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
          visibleItem.text($(this).attr('value'));
        });
      });
    </script>

    </body>
</div>
</html>
