<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8"/>
</head>
<body>
<h1>User Edit</h1>
<form action="#" th:action="@{/user/{id}(id=*{id})}" method="post" th:object="${user}">
    <table>
        <tr>
            <th class="cell_title">ID</th>
            <td input th:text="*{id}"></td>
        </tr>
        <tr>
            <th class="cell_title">Name</th>
            <td class="text-left"><input type="text" th:field="*{name}"></td>
        </tr>
        <tr class="form-group">
            <th class="align-middle">Nationality</th>
            <td>
                <div th:each="item : ${radioItems}" class="form-check-inline">
                    <input type="radio" name="selectedRadio" th:field="*{nationality}" th:value="${item.value}"
                           th:text="${item.value}" class="form-check-input"/>
                </div>
            </td>
        </tr>
        <tr class="form-group">
            <th class="align-middle">Office</th>
            <td>
                <div th:each="item : ${checkItems}" class="form-check-inline">
                    <input type="radio" th:field="*{office}" th:value="${item}" th:text="${item}"
                           class="form-check-input"/>
                </div>
            </td>
        </tr>
        <tr>
            <th class="align-middle">Hobbies</th>
            <td id='hobbies'>
                <div th:each="item : ${hobbies}" class="hobby" >
                    <input class="btn" type="text" th:value="${item}" />
                </div>
            </td>
            <th class="align-middle">Selected Hobbies</th>
            <td id='selectedHobbies'>
                <div th:each="item : ${selectedHobbies}" class="selectedHobby">
                    <input class="btn" type="text"   th:field="*{hobby}"/>
                </div>
            </td>
        </tr>
    </table>
    <div class="btn_area_center">
        <a class="btn btn-default" th:href="@{/user/{id}(id=*{id})}">Back</a>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
<script>
    $(function () {
        $('.hobby').click(function (e) {
            let add_contents = '<div class="hobby"><input class="selectedHobbyGenerated btn" id="hobby" name="hobby" type="text" value=';
            add_contents += this.children[0].value;
            add_contents += ' /></div>';
            $(add_contents).appendTo("#selectedHobbies")
            $(this).remove();
        });
        $(document).on("click",".hobbyGenerated", function(){
            let add_contents = '<div class="hobby"><input class="selectedHobbyGenerated btn" id="hobby" name="hobby" type="text" value=';
            add_contents += this.value;
            add_contents += ' /></div>';
            $(add_contents).appendTo("#selectedHobbies")
            $(this).remove();
        });
        $('.selectedHobby').click(function (e) {
            let add_contents = '<div class="selectedHobby"><input class="hobbyGenerated btn" type="text" value=';
            add_contents += this.children[0].value;
            add_contents += ' /></div>';
            $(add_contents).appendTo("#hobbies")
            $(this).remove();
        });
        $(document).on("click",".selectedHobbyGenerated", function(){
            let add_contents = '<div class="selectedHobby"><input class="hobbyGenerated btn" type="text" value=';
            add_contents += this.value;
            add_contents += ' /></div>';
            $(add_contents).appendTo("#hobbies")
            $(this).remove();
        });
    });
</script>
</body>
</html>