<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{userDetail}">User Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8"/>
</head>
<body>
<h1 th:text="#{userDetail}">User Detail</h1>
<form action="#" th:action="@{/user/list}" th:object="${user}">
    <table>
        <tr>
            <th class="cell_title" >ID</th>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <th class="cell_title" th:text="#{name}">Name</th>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <th class="form-group" th:text="#{nationality}">Nationality</th>
            <td th:text="*{nationality}"></td>
        </tr>
        <tr>
            <th class="cell_title"  th:text="#{office}">Office</th>
            <td th:text="*{office}"></td>
        </tr>
        <tr>
            <th class="cell_title" th:text="#{hobbies}">Hobbies</th>
            <td th:text="*{hobby}"></td>
        </tr>
    </table>

    <div class="btn_area_center">
        <button type="submit" class="btn btn-default" th:text="#{back}">Back</button>
        <a class="btn btn-default" th:href="@{/user/{id}/edit(id=*{id})}" th:text="#{edit}" >Edit</a>
    </div>

</form>
</body>
</html>